<div ng-controller="UserCtrl" layout="column" flex id="content" role="main">
    <!--<md-content flex id="content" style="padding-top: 10%;">-->
            <div layout="row" layout-align="center center" layout-fill class="centered">
                <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding  style="min-width: 240px;">
                    <form name="loginForm" ng-submit="loginUser()">
                        <md-content md-theme="docs-dark">
                            <md-input-container class="md-icon-float md-block">
                                <label>Email</label>
                                <input ng-model="user.email" required>
                            </md-input-container>
                        </md-content>
                        <md-content md-theme="docs-dark" layout-gt-sm="row" style="overflow: hidden">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Password</label>
                                    <input ng-model="user.password" type="password" required>
                                </md-input-container>
                                <md-datepicker required style="padding-top: 3.5%;" ng-model="user.dob" md-placeholder="Date Of Birth" class="md-block" flex-gt-sm>
                                </md-datepicker>
                        </md-content>
                        <md-input-container class="md-icon-float md-block" layout-align="center center">
                            <md-button type ="submit" class="md-raised" flex="50" flex-sm="100">Login</md-button>
                            <md-button ng-click="registerUser()" class="md-raised md-primary" flex="50" flex-sm="100">Register</md-button>
                        </md-input-container>
                    </form>


                    <md-whiteframe style="background-color: rosybrown" ng-show="showMessage" class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>{{hello}}</span>
                    </md-whiteframe>

                </md-whiteframe>
            </div>
    <!--</md-content>-->
</div>